<!-- <div>
  <h1>welcome</h1>
</div>
<div>
  <div>new project data</div>
</div>
<div>
  <ng-content></ng-content>
</div> -->
<div>
  <ng-content select="[gp]"></ng-content>
</div>

<div class="card">
  <div class="header">
    <ng-content select="header"></ng-content>
  </div>
  <div class="content">
    <ng-content select="content"></ng-content>
  </div>
  <div class="footer">
    <ng-content select="footer"></ng-content>
  </div>
</div>

<div class="contact">
  <ng-content select="h1"></ng-content>
  <ng-content select=".phone"></ng-content>
  <ng-content></ng-content>
</div>

<!-- <button>
<ng-content select="[gp]"></ng-content>
</button>  -->
